definition:
  title: Enrich Malware Samples
  description: |
    Receive a list of malware samples and enrich them with additional context
    from multiple threat intelligence sources.
  entrypoint:
    ref: select_malware_samples
    expects:
      file_hashes: list[str]
  triggers:
    - type: webhook
      ref: receive_json
      entrypoint: select_malware_samples
  returns:
    file_hashes: list[str]
    reports:
      alienvault: ${{ ACTIONS.abuseipdb.result }}
      hybrid_analysis: ${{ ACTIONS.hybrid_analysis.result }}
      malwarebazaar: ${{ ACTIONS.malwarebazaar.result }}
      virustotal: ${{ ACTIONS.virustotal.result }}

  actions:
    - ref: select_malware_samples
      action: core.transform.reshape
      args:
        value:
          file_hashes: ${{ TRIGGER.file_hashes }}

    - ref: abuseipdb
      action: integration.abuseipdb.analyze_malware_sample
      depends_on:
        - select_malware_samples
      for_each: ${{ for var.file_hash in ACTIONS.select_malware_samples.result }}
      args:
        file_hash: ${{ var.file_hash }}

    - ref: hybrid_analysis
      action: integration.hybrid_analysis.analyze_malware_sample
      depends_on:
        - select_malware_samples
      for_each: ${{ for var.file_hash in ACTIONS.select_malware_samples.result }}
      args:
        file_hash: ${{ var.file_hash }}

    - ref: malwarebazaar
      action: integration.malwarebazaar.analyze_malware_sample
      depends_on:
        - select_malware_samples
      for_each: ${{ for var.file_hash in ACTIONS.select_malware_samples.result }}
      args:
        file_hash: ${{ var.file_hash }}

    - ref: virustotal
      action: integration.virustotal.analyze_malware_sample
      depends_on:
        - select_malware_samples
      for_each: ${{ for var.file_hash in ACTIONS.select_malware_samples.result }}
      args:
        file_hash: ${{ var.file_hash }}
