.case-description-editor,
.case-comment-viewer {
  width: 100%;
  height: auto;
}

.case-description-editor .simple-editor-content,
.case-comment-viewer .simple-editor-content {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  flex: 1;
}

.case-description-editor .simple-editor-content .simple-editor {
  padding: 0.75rem 0;
  min-height: 220px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: hsl(var(--foreground));
}

.case-description-editor {
  width: 100%;
  padding: 0;
  border-radius: var(--radius);
  background-color: transparent;
}

.case-description-editor .simple-editor-toolbar {
  position: sticky;
  top: 0;
  z-index: 5;
  --simple-editor-toolbar-gap: 1rem;
  background: transparent;
}

.case-description-editor .simple-editor-content .simple-editor:focus-visible {
  outline: none;
  box-shadow: none;
}

.case-comment-viewer .simple-editor-toolbar {
  display: none;
}

.case-comment-viewer .simple-editor-content .tiptap.ProseMirror.simple-editor {
  padding: 0;
  min-height: unset;
  background: transparent;
  border: none;
  font-size: 0.875rem;
  line-height: 1.6;
  height: auto;
}

.text-part-editor .simple-editor-content .simple-editor {
  white-space: inherit;
}
