minimum-release-age-exclude[]=mint
minimum-release-age-exclude[]=axios@1.15.0
minimum-release-age-exclude[]=form-data@4.0.5
minimum-release-age-exclude[]=next@15.5.15
minimum-release-age-exclude[]=@next/env@15.5.15
minimum-release-age-exclude[]=@next/swc-*
minimum-release-age-exclude[]=dompurify@3.4.0
minimum-release-age-exclude[]=follow-redirects@1.16.0
minimum-release-age-exclude[]=proxy-from-env@2.1.0
