{{- $autoscaling := default (dict) .Values.worker.autoscaling -}}
{{- if default false $autoscaling.enabled }}
{{- $temporalKedaHasAuthSource := eq (include "tracecat.temporalKedaHasAuthSource" . | trim) "true" -}}
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ include "tracecat.fullname" . }}-worker
  labels:
    {{- include "tracecat.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
spec:
  scaleTargetRef:
    name: {{ include "tracecat.fullname" . }}-worker
  pollingInterval: {{ default 10 $autoscaling.pollingInterval }}
  cooldownPeriod: {{ default 120 $autoscaling.cooldownPeriod }}
  minReplicaCount: {{ default 1 $autoscaling.minReplicas }}
  maxReplicaCount: {{ default 8 $autoscaling.maxReplicas }}
  triggers:
    - type: temporal
      metadata:
        namespace: {{ include "tracecat.temporalNamespace" . | quote }}
        endpoint: {{ include "tracecat.temporalClusterUrl" . | quote }}
        taskQueue: {{ include "tracecat.temporalQueue" . | quote }}
        targetQueueSize: {{ default 5 $autoscaling.targetQueueSize | quote }}
        activationTargetQueueSize: {{ default 0 $autoscaling.activationTargetQueueSize | quote }}
        queueTypes: {{ default "workflow,activity" $autoscaling.queueTypes | quote }}
      {{- if $temporalKedaHasAuthSource }}
      authenticationRef:
        name: {{ include "tracecat.temporalKedaTriggerAuthName" . }}
      {{- end }}
{{- end }}
