apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tracecat.fullname" . }}-worker
  labels:
    {{- include "tracecat.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
spec:
  replicas: {{ .Values.worker.replicas }}
  selector:
    matchLabels:
      {{- include "tracecat.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: worker
  template:
    metadata:
      labels:
        {{- include "tracecat.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: worker
    spec:
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      containers:
        - name: worker
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["python", "-m", "tracecat.dsl.worker"]
          env:
            {{- include "tracecat.env.worker" . | nindent 12 }}
            {{- include "tracecat.env.secrets" . | nindent 12 }}
          resources:
            {{- toYaml .Values.worker.resources | nindent 12 }}
