definition:
  title: Receive Elastic Security alerts
  description: |
    Receives alerts from Elastic Security custom webhook connector.
    Requires the body of the Connector Action to be defined as:
    {
      "ndjson": "{{#context.alerts}}{{{.}}}{{/context.alerts}}"
    }
    Triggers a child workflow for each alert in the ndjson payload.
  entrypoint:
    ref: deserialize_elastic_alerts
    expects:
      ndjson:
        type: str
        description: A newline-delimited JSON string containing alerts
  triggers:
    - type: webhook
      ref: receive_elastic_alerts
      entrypoint: deserialize_elastic_alerts
  variables:
    child_workflow_id: REPLACE_WITH_CHILD_WORKFLOW_ID
    limit: 10
    batch_size: 10

  actions:
    - ref: deserialize_elastic_alerts
      action: core.transform.reshape
      args:
        value:
          alerts: ${{ FN.deserialize_ndjson(TRIGGER.ndjson) }}

    - ref: redirect_elastic_alerts
      action: core.workflow.execute
      depends_on:
        - deserialize_elastic_alerts
      for_each: ${{ for var.alert in ACTIONS.deserialize_elastic_alerts.result }}
      args:
        workflow_id: ${{ VARS.child_workflow_id }}
        loop_strategy: parallel
        fail_strategy: isolated
        batch_size: ${{ VARS.batch_size }}
        trigger_inputs:
          title: ${{ var.alert.message }}
          integration: Elastic Security
          alert: ${{ var.alert }}
          severity: ${{ var.alert.event.severity }}
