definition:
  title: List, normalize, and redirect Crowdstrike alerts
  description: |
    Pulls Crowdstrike alerts, normalizes alerts into ECS format
    and triggers a child workflow for each alert.
  entrypoint:
    ref: list_crowdstrike_alerts
    expects:
      interval_minutes: int
      filter: str
  triggers:
    - type: webhook
      ref: crowdstrike_alerts_webhook
      entrypoint: list_crowdstrike_alerts
  inputs:
    child_workflow_id: REPLACE_WITH_CHILD_WORKFLOW_ID
    limit: 10
    batch_size: 10

  actions:
    - ref: list_crowdstrike_alerts
      action: integrations.crowdstrike.list_crowdstrike_alerts
      args:
        start_time: ${{ ENV.workflow.start_time }}
        end_time: ${{ ENV.workflow.start_time + FN.minutes(TRIGGER.interval_minutes) }}
        filter: ${{ TRIGGER.filter }}
        limit: ${{ INPUTS.limit }}

    - ref: normalize_crowdstrike_alerts
      action: etl.normalization.normalize_events_to_ecs
      depends_on:
        - list_crowdstrike_alerts
      run_if: ${{ FN.not_empty(ACTIONS.list_crowdstrike_alerts.result) }}
      args:
        pipeline: https://github.com/elastic/integrations/raw/main/packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
        data: ${{ ACTION.list_crowdstrike_alerts.result }}

    - ref: redirect_crowdstrike_alerts
      action: core.workflow.execute
      depends_on:
        - normalize_crowdstrike_alerts
      for_each: ${{ for var.alert in ACTIONS.normalize_crowdstrike_alerts.result }}
      args:
        workflow_id: ${{ INPUTS.child_workflow_id }}
        loop_strategy: parallel
        fail_strategy: isolated
        batch_size: ${{ INPUTS.batch_size }}
        trigger_inputs:
          title: ${{ var.alert.message }}
          integration: Crowdstrike (Alerts)
          alert: ${{ var.alert }}
          severity: ${{ var.alert.crowdstrike.alert.severity }}
