name: Frontend code quality

on:
  push:
    paths:
      - frontend/**
      - .github/workflows/lint-frontend.yml
  pull_request:
    paths:
      - frontend/**
      - .github/workflows/lint-frontend.yml

permissions:
  contents: read

jobs:
  quality:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          working-dir: frontend/
          version: latest

      - name: Run Biome
        run: biome ci .

      # Typescrtip typechecking
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Install dependencies
        working-directory: frontend
        run: pnpm install --frozen-lockfile

      - name: Run TypeScript type check
        working-directory: frontend
        run: pnpm run typecheck
