name: Update draft release

on:
  pull_request_target:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - labeled
      - unlabeled
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: read

jobs:
  main:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    steps:
      - name: Draft release
        uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
