name: Publish Images

on:
  workflow_dispatch:
    inputs:
      git-ref:
        description: "Git Ref (Optional)"
        required: true

permissions:
  contents: read
  packages: write

jobs:
  push-ui-to-ghcr:
    strategy:
      matrix:
        platform: [amd64, arm64]
        include:
          - platform: amd64
            runner: ubuntu-latest
          - platform: arm64
            runner: ubuntu-arm64-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/tracecathq/tracecat-ui
          tags: |
            type=sha
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        env:
          NEXT_PUBLIC_API_URL: http://localhost:8000
          NEXT_PUBLIC_APP_ENV: production
          NEXT_PUBLIC_APP_URL: http://localhost:3000
          NEXT_SERVER_API_URL: http://localhost:8000
          NODE_ENV: production
        with:
          context: frontend
          file: frontend/Dockerfile.prod
          build-args: |
            NEXT_PUBLIC_API_URL=${{ env.NEXT_PUBLIC_API_URL }}
            NEXT_PUBLIC_APP_ENV=${{ env.NEXT_PUBLIC_APP_ENV }}
            NEXT_PUBLIC_APP_URL=${{ env.NEXT_PUBLIC_APP_URL }}
            NEXT_SERVER_API_URL=${{ env.NEXT_SERVER_API_URL }}
            NODE_ENV=${{ env.NODE_ENV }}
          push: true
          platforms: linux/${{ matrix.platform }}
          tags: |
            ${{ steps.meta.outputs.tags }}
            ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') && format('ghcr.io/tracecathq/tracecat-ui:{0}-latest', matrix.platform) || '' }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
