name: pytest

on:
  push:
    branches: ["main"]
    paths:
      - tracecat/**
      - registry/**
      - tests/**
      - pyproject.toml
      - Dockerfile
      - docker-compose.yml
      - docker-compose.dev.yml
      - .github/workflows/test-python.yml
  pull_request:
    branches: ["main", "staging"]
    paths:
      - tracecat/**
      - registry/**
      - tests/**
      - pyproject.toml
      - Dockerfile
      - docker-compose.yml
      - docker-compose.dev.yml
      - .github/workflows/test-python.yml
  workflow_dispatch:
    inputs:
      git-ref:
        description: "Git Ref (Optional)"
        required: true

permissions:
  contents: read
  packages: write

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  test-all:
    runs-on: ubuntu-latest-4-cores
    timeout-minutes: 60
    strategy:
      matrix:
        test_group:
          - unit
          - registry
          - llm
          - integration
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.git-ref }}

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "0.4.20"
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run environment setup script
        run: |
          echo "y
          localhost
          n" | bash env.sh

      - name: Start core Docker services
        env:
          TRACECAT__UNSAFE_DISABLE_SM_MASKING: "true"
        run: docker compose -f docker-compose.dev.yml up -d temporal api worker executor postgres_db caddy

      - name: Start ollama service (llm tests only)
        if: matrix.test_group == 'llm'
        run: docker compose -f docker-compose.dev.yml up -d ollama

      - name: Install dependencies
        run: |
          uv pip install ".[dev]"
          uv pip install ./registry

      - name: Run tests
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: uv run pytest tests/${{ matrix.test_group }} -m "not podman" -ra
