# Strategy:
# - Load latest API image from ghcr
# - Startup API and postgres services
# - Rebuild API container with main branch code (entrypoint contains `alembic upgrade head`)
name: Test database migrations

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run environment setup script
        run: |
          echo "admin@example.com
          password123456789
          password123456789
          y
          localhost
          n" | bash env.sh

      - name: Start Docker services
        run: |
          export TRACECAT__IMAGE_TAG=latest
          docker compose -f docker-compose.yml up --build --no-deps -d api postgres_db caddy

      - name: Create Docker Compose override for local build
        run: |
          cat << EOF > docker-compose.override.yml
          version: '3'
          services:
            api:
              build:
                context: .
                dockerfile: Dockerfile
          EOF

      - name: Rebuild API to test migrations
        run: docker compose -f docker-compose.yml -f docker-compose.override.yml up -d api
