name: Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  push-to-ghcr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/TracecatHQ/tracecat

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  pytest:
    runs-on: ubuntu-latest
    needs: push-to-ghcr
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: pyproject.toml

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Download Temporal CLI
        run: |
          # Download the Temporal CLI archive
          curl -L -o temporal.tar.gz "https://temporal.download/cli/archive/latest?platform=linux&arch=amd64"

          # Create a directory for the Temporal CLI
          mkdir -p temporal-cli

          # Extract the archive
          tar -xzf temporal.tar.gz -C temporal-cli

          # Add the Temporal CLI binary to the PATH
          echo "${GITHUB_WORKSPACE}/temporal-cli" >> $GITHUB_PATH

      - name: Verify Temporal CLI installation
        run: temporal --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[dev,cli]"

      - name: Run environment setup script
        run: bash env.sh

      - name: Run tests (headless mode)
        env:
          TRACECAT__IMAGE_TAG: pr-${{ github.event.pull_request.number }}
        run: |
          # Start Tracecat services (without frontend)
          docker compose -f docker-compose.yml up --no-deps api worker postgres_db -d

          # Start Temporal lite server in detached mode
          nohup temporal server start-dev > temporal.log 2>&1 &

          # Run Tracecat tests
          pytest tests --temporal-no-restart --tracecat-no-restart
